In [33]:
import pandas as pd

In [34]:
df = pd.read_csv("20250715-ketquathi-ct2018a.csv", dtype={"SOBAODANH": str, "STT": str})
df.head()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_18496\4193447639.py:1: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("20250715-ketquathi-ct2018a.csv", dtype={"SOBAODANH": str, "STT": str})

,STT,SOBAODANH,Toán,Văn,Lí,Hóa,Sinh,Tin học,Công nghệ công nghiệp,Công nghệ nông nghiệp,Sử,Địa,Giáo dục kinh tế và pháp luật,Ngoại ngữ,Mã môn ngoại ngữ,Unnamed: 15,MÃ TỈNH
0,1,01000001,5.75,7.75,NaN,7.75,8.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,2,01000002,8.00,8.25,8.50,6.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,3,01000003,6.75,8.50,8.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,4,01000004,5.25,7.50,6.50,5.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,5,01000005,NaN,7.00,NaN,NaN,NaN,NaN,NaN,NaN,5.5,6.25,NaN,NaN,NaN,NaN,1.0

In [35]:
empty_rows = df[df.isnull().all(axis=1)]
empty_rows

,STT,SOBAODANH,Toán,Văn,Lí,Hóa,Sinh,Tin học,Công nghệ công nghiệp,Công nghệ nông nghiệp,Sử,Địa,Giáo dục kinh tế và pháp luật,Ngoại ngữ,Mã môn ngoại ngữ,Unnamed: 15,MÃ TỈNH
1000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048573,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048574,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
df = df.dropna(how='all')

In [37]:
missing_values = df.isnull().sum()
missing_values

STT                                    0
SOBAODANH                              0
Toán                                4301
Văn                                 3858
Lí                                690118
Hóa                               790448
Sinh                              943270
Tin học                           993943
Công nghệ công nghiệp             998061
Công nghệ nông nghiệp             981769
Sử                                578396
Địa                               578996
Giáo dục kinh tế và pháp luật     785426
Ngoại ngữ                         670122
Mã môn ngoại ngữ                  670122
Unnamed: 15                      1000000
MÃ TỈNH                                0
dtype: int64

In [39]:
df["Toán"].unique()

array([ 5.75,  8.  ,  6.75,  5.25,   nan,  6.5 ,  6.35,  7.5 ,  9.  ,
        7.  ,  3.85,  4.5 ,  6.  ,  7.25,  5.  ,  8.5 ,  7.75,  7.1 ,
        8.25,  6.25,  4.  ,  5.6 ,  6.1 ,  5.35,  9.5 ,  8.75,  2.35,
        2.  ,  2.1 ,  4.75,  2.5 ,  4.25,  1.85,  3.95,  5.85,  3.75,
        3.  ,  2.6 ,  2.85,  3.25,  3.6 ,  2.75,  2.2 ,  1.45,  5.5 ,
        1.35,  4.1 ,  1.95,  2.25,  1.6 ,  3.35,  5.1 ,  6.85,  4.85,
        3.1 ,  2.45,  3.5 ,  3.3 ,  4.35,  2.7 ,  2.95,  1.7 ,  4.3 ,
        1.3 ,  4.2 ,  1.5 ,  4.6 ,  1.8 ,  6.6 ,  1.55,  1.2 ,  3.45,
        0.95,  1.25,  3.2 ,  8.1 ,  2.3 ,  0.85,  1.75, 10.  ,  4.7 ,
        3.7 ,  4.45,  2.8 ,  7.85,  9.25,  4.95,  5.2 ,  5.7 ,  2.05,
        7.6 ,  2.55,  3.05,  7.35,  3.8 ,  1.4 ,  1.  ,  5.95,  6.2 ,
        9.75,  5.45,  1.1 ,  3.55,  0.7 ,  1.15,  4.05,  1.05,  0.8 ,
        9.1 ,  1.65,  1.9 ,  6.7 ,  0.65,  8.35,  2.4 ,  0.55,  2.15,
        0.9 ,  8.6 ,  0.35,  0.1 ,  0.45,  0.6 ,  0.75,  6.45,  0.4 ,
        0.  ,  4.8 ,  2.65,  2.9 ,  0.5 ,  7.2 ,  3.15,  4.55,  3.4 ])

In [40]:
missing_math = df[df["Toán"].isnull()]
missing_math.head(20)

,STT,SOBAODANH,Toán,Văn,Lí,Hóa,Sinh,Tin học,Công nghệ công nghiệp,Công nghệ nông nghiệp,Sử,Địa,Giáo dục kinh tế và pháp luật,Ngoại ngữ,Mã môn ngoại ngữ,Unnamed: 15,MÃ TỈNH
4,5,01000005,NaN,7.00,NaN,NaN,NaN,NaN,NaN,NaN,5.50,6.25,NaN,NaN,NaN,NaN,1.0
7,8,01000008,NaN,6.25,NaN,NaN,NaN,NaN,NaN,NaN,4.00,4.00,NaN,NaN,NaN,NaN,1.0
9,10,01000010,NaN,8.75,NaN,NaN,NaN,NaN,NaN,NaN,8.25,9.00,NaN,NaN,NaN,NaN,1.0
23,24,01000024,NaN,7.25,NaN,NaN,NaN,NaN,NaN,NaN,6.85,8.50,NaN,NaN,NaN,NaN,1.0
36,37,01000037,NaN,9.00,NaN,NaN,NaN,NaN,NaN,NaN,8.50,9.75,NaN,NaN,NaN,NaN,1.0
45,46,01000046,NaN,8.25,NaN,NaN,NaN,NaN,NaN,NaN,8.00,9.75,NaN,NaN,NaN,NaN,1.0
52,53,01000053,NaN,6.50,NaN,NaN,NaN,NaN,NaN,NaN,7.85,9.00,NaN,NaN,NaN,NaN,1.0
56,57,01000057,NaN,8.00,NaN,NaN,NaN,NaN,NaN,NaN,8.00,8.25,NaN,NaN,NaN,NaN,1.0
60,61,01000061,NaN,8.25,NaN,NaN,NaN,NaN,NaN,NaN,8.50,7.50,NaN,NaN,NaN,NaN,1.0
61,62,01000062,NaN,7.25,NaN,NaN,NaN,NaN,NaN,NaN,9.25,9.00,NaN,NaN,NaN,NaN,1.0
64,65,01000065,NaN,8.00,NaN,NaN,NaN,NaN,NaN,NaN,8.50,7.25,NaN,NaN,NaN,NaN,1.0
65,66,01000066,NaN,4.25,NaN,NaN,NaN,NaN,NaN,NaN,6.50,5.50,NaN,NaN,NaN,NaN,1.0
67,68,01000068,NaN,6.50,NaN,NaN,NaN,NaN,NaN,NaN,4.85,5.50,NaN,NaN,NaN,NaN,1.0
77,78,01000078,NaN,6.75,NaN,NaN,NaN,NaN,NaN,NaN,4.60,6.10,NaN,NaN,NaN,NaN,1.0
81,82,01000082,NaN,8.50,NaN,NaN,NaN,NaN,NaN,NaN,9.25,9.00,NaN,NaN,NaN,NaN,1.0
82,83,01000083,NaN,8.25,NaN,NaN,NaN,NaN,NaN,NaN,9.75,8.00,NaN,NaN,NaN,NaN,1.0
87,88,01000088,NaN,5.00,NaN,NaN,NaN,NaN,NaN,NaN,7.00,5.75,NaN,NaN,NaN,NaN,1.0
89,90,01000090,NaN,8.25,NaN,NaN,NaN,NaN,NaN,NaN,8.00,7.75,NaN,NaN,NaN,NaN,1.0
108,109,01000109,NaN,8.25,NaN,NaN,NaN,NaN,NaN,NaN,9.00,8.50,NaN,NaN,NaN,NaN,1.0
113,114,01000114,NaN,7.25,NaN,NaN,NaN,NaN,NaN,NaN,8.25,9.75,NaN,NaN,NaN,NaN,1.0

In [43]:
df_toan = df[df["Toán"].notna()]
df_toan

,STT,SOBAODANH,Toán,Văn,Lí,Hóa,Sinh,Tin học,Công nghệ công nghiệp,Công nghệ nông nghiệp,Sử,Địa,Giáo dục kinh tế và pháp luật,Ngoại ngữ,Mã môn ngoại ngữ,Unnamed: 15,MÃ TỈNH
0,1,01000001,5.75,7.75,NaN,7.75,8.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,2,01000002,8.00,8.25,8.50,6.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,3,01000003,6.75,8.50,8.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,4,01000004,5.25,7.50,6.50,5.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
5,6,01000006,6.50,8.50,7.25,5.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,999996,52013344,3.75,6.00,NaN,NaN,NaN,NaN,NaN,NaN,6.35,5.6,NaN,NaN,NaN,NaN,52.0
999996,999997,52013345,4.25,7.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.6,9.5,N4,NaN,52.0
999997,999998,52013346,3.75,7.75,NaN,NaN,NaN,NaN,NaN,NaN,8.00,8.5,NaN,NaN,NaN,NaN,52.0
999998,999999,52013347,6.50,7.75,6.50,4.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.0
999999,1000000,52013348,3.25,6.75,4.75,3.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.0

In [46]:
df_toan_1 = df.loc[df["Toán"].notna(), ["SOBAODANH", "Toán"]]
df_toan_1

       SOBAODANH  Toán
0       01000001  5.75
1       01000002  8.00
2       01000003  6.75
3       01000004  5.25
5       01000006  6.50
...          ...   ...
999995  52013344  3.75
999996  52013345  4.25
999997  52013346  3.75
999998  52013347  6.50
999999  52013348  3.25

[995699 rows x 2 columns]

In [48]:
df_toan_1.to_csv("diem_toan_2025.csv", index=False, encoding="utf-8-sig")