In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data_2025/diem_thi_all.csv.gz", compression="gzip")
df

,SBD,TinhId,TOAN,VAN,NGOAI_NGU,LI,HOA,SINH,SU,DIA,GIAO_DUC_CONG_DAN,TIN_HOC,CN_CONG_NGHIEP,CN_NONG_NGHIEP,GDKT_PL,TONGDIEM
0,1000001,1,5.75,7.75,-1.0,-1.00,7.75,8.25,-1.0,-1.00,-1.00,-1.0,-1.0,-1.0,-1.0,29.50
1,1000002,1,8.00,8.25,-1.0,8.50,6.75,-1.00,-1.0,-1.00,-1.00,-1.0,-1.0,-1.0,-1.0,31.50
2,1000003,1,6.75,8.50,-1.0,8.75,-1.00,-1.00,-1.0,-1.00,-1.00,-1.0,-1.0,-1.0,-1.0,24.00
3,1000004,1,5.25,7.50,-1.0,6.50,5.50,-1.00,-1.0,-1.00,-1.00,-1.0,-1.0,-1.0,-1.0,24.75
4,1000005,1,-1.00,7.00,-1.0,-1.00,-1.00,-1.00,5.5,6.25,-1.00,-1.0,-1.0,-1.0,-1.0,18.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1153194,64007422,64,-1.00,8.00,8.6,-1.00,-1.00,-1.00,9.0,-1.00,9.75,-1.0,-1.0,-1.0,-1.0,35.35
1153195,64007423,64,8.20,9.50,7.8,-1.00,-1.00,-1.00,-1.0,-1.00,-1.00,-1.0,-1.0,-1.0,-1.0,25.50
1153196,64007424,64,7.80,-1.00,-1.0,6.25,6.50,-1.00,-1.0,-1.00,-1.00,-1.0,-1.0,-1.0,-1.0,20.55
1153197,64007425,64,6.80,8.25,4.6,-1.00,-1.00,-1.00,-1.0,-1.00,-1.00,-1.0,-1.0,-1.0,-1.0,19.65
1153198,64007426,64,-1.00,6.00,-1.0,-1.00,-1.00,-1.00,5.0,6.75,-1.00,-1.0,-1.0,-1.0,-1.0,17.75

In [3]:
df["SBD"].nunique()

1153199

In [4]:
empty_rows = df[(df == -1).all(axis=1)]
empty_rows

Empty DataFrame
Columns: [SBD, TinhId, TOAN, VAN, NGOAI_NGU, LI, HOA, SINH, SU, DIA, GIAO_DUC_CONG_DAN, TIN_HOC, CN_CONG_NGHIEP, CN_NONG_NGHIEP, GDKT_PL, TONGDIEM]
Index: []

In [5]:
missing_values = (df == -1).sum()
missing_values

SBD                        0
TinhId                     0
TOAN                   15809
VAN                     9128
NGOAI_NGU             790236
LI                    801481
HOA                   908922
SINH                 1081583
SU                    658045
DIA                   663626
GIAO_DUC_CONG_DAN    1149100
TIN_HOC              1145597
CN_CONG_NGHIEP       1150909
CN_NONG_NGHIEP       1131151
GDKT_PL               906800
TONGDIEM                   0
dtype: int64

In [6]:
df["TOAN"].unique()

array([ 5.75,  8.  ,  6.75,  5.25, -1.  ,  6.5 ,  6.35,  7.5 ,  9.  ,
        7.  ,  3.85,  4.5 ,  6.  ,  7.25,  5.  ,  8.5 ,  7.75,  7.1 ,
        8.25,  6.25,  4.  ,  5.6 ,  6.1 ,  5.35,  9.5 ,  8.75,  2.35,
        2.  ,  2.1 ,  4.75,  2.5 ,  4.25,  1.85,  3.95,  5.85,  3.75,
        3.  ,  2.6 ,  2.85,  3.25,  3.6 ,  2.75,  2.2 ,  1.45,  5.5 ,
        1.35,  4.1 ,  1.95,  2.25,  1.6 ,  3.35,  5.1 ,  6.85,  4.85,
        3.1 ,  2.45,  3.5 ,  3.3 ,  4.35,  2.7 ,  2.95,  1.7 ,  4.3 ,
        1.3 ,  4.2 ,  1.5 ,  4.6 ,  1.8 ,  6.6 ,  1.55,  1.2 ,  3.45,
        0.95,  1.25,  3.2 ,  8.1 ,  2.3 ,  0.85,  1.75, 10.  ,  4.7 ,
        3.7 ,  4.45,  2.8 ,  7.85,  9.25,  4.95,  5.2 ,  5.7 ,  2.05,
        7.6 ,  2.55,  3.05,  7.35,  3.8 ,  1.4 ,  1.  ,  5.95,  6.2 ,
        9.75,  5.45,  1.1 ,  3.55,  0.7 ,  1.15,  4.05,  8.2 ,  7.4 ,
        3.4 ,  6.8 ,  7.8 ,  6.4 ,  8.4 ,  7.2 ,  8.8 ,  4.4 ,  8.6 ,
        5.4 ,  4.8 ,  9.2 ,  5.8 ,  9.4 ,  2.4 ,  1.05,  0.8 ,  9.1 ,
        1.65,  1.9 ,  6.7 ,  0.65,  8.35,  0.55,  2.15,  0.9 ,  0.35,
        0.1 ,  0.45,  0.6 ,  9.6 ,  0.75,  6.45,  0.4 ,  0.  ,  2.65,
        2.9 ,  0.5 ,  3.15,  4.55])

In [7]:
missing_math = df[df["TOAN"] == -1]
missing_math

,SBD,TinhId,TOAN,VAN,NGOAI_NGU,LI,HOA,SINH,SU,DIA,GIAO_DUC_CONG_DAN,TIN_HOC,CN_CONG_NGHIEP,CN_NONG_NGHIEP,GDKT_PL,TONGDIEM
4,1000005,1,-1.0,7.00,-1.0,-1.0,-1.0,-1.0,5.50,6.25,-1.00,-1.0,-1.0,-1.0,-1.0,18.75
7,1000008,1,-1.0,6.25,-1.0,-1.0,-1.0,-1.0,4.00,4.00,-1.00,-1.0,-1.0,-1.0,-1.0,14.25
9,1000010,1,-1.0,8.75,-1.0,-1.0,-1.0,-1.0,8.25,9.00,-1.00,-1.0,-1.0,-1.0,-1.0,26.00
23,1000024,1,-1.0,7.25,-1.0,-1.0,-1.0,-1.0,6.85,8.50,-1.00,-1.0,-1.0,-1.0,-1.0,22.60
36,1000037,1,-1.0,9.00,-1.0,-1.0,-1.0,-1.0,8.50,9.75,-1.00,-1.0,-1.0,-1.0,-1.0,27.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1153190,64007418,64,-1.0,7.50,-1.0,-1.0,-1.0,-1.0,3.50,5.75,-1.00,-1.0,-1.0,-1.0,-1.0,16.75
1153191,64007419,64,-1.0,5.50,-1.0,-1.0,-1.0,-1.0,8.00,8.25,9.50,-1.0,-1.0,-1.0,-1.0,31.25
1153193,64007421,64,-1.0,6.00,-1.0,-1.0,-1.0,-1.0,7.50,8.50,-1.00,-1.0,-1.0,-1.0,-1.0,22.00
1153194,64007422,64,-1.0,8.00,8.6,-1.0,-1.0,-1.0,9.00,-1.00,9.75,-1.0,-1.0,-1.0,-1.0,35.35
1153198,64007426,64,-1.0,6.00,-1.0,-1.0,-1.0,-1.0,5.00,6.75,-1.00,-1.0,-1.0,-1.0,-1.0,17.75

In [8]:
df_toan_1 = df.loc[df["TOAN"] != -1, ["SBD", "TOAN"]]
df_toan_1

              SBD  TOAN
0         1000001  5.75
1         1000002  8.00
2         1000003  6.75
3         1000004  5.25
5         1000006  6.50
...           ...   ...
1153187  64007413  5.40
1153192  64007420  7.20
1153195  64007423  8.20
1153196  64007424  7.80
1153197  64007425  6.80

[1137390 rows x 2 columns]

In [9]:
df_toan_1.to_csv("data_2025/diem_toan_2025.csv", index=False, encoding="utf-8-sig")